In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fold_0 = pd.read_json("fold_0_modified/results/metrics.json", orient="records", lines=True)
fold_0 = fold_0.sort_values("iteration")
fold_0['fold'] = 0
fold_0

,data_time,eta_seconds,iteration,loss_box_reg,loss_cls,lr,num_pos_anchors,time,total_loss,bbox/AP,bbox/AP50,bbox/AP75,bbox/APl,bbox/APm,bbox/APs,validation_loss,fold
0,0.015769,4154.287388,19,0.830319,1.189820,4.299629e-05,48.4375,1.043791,1.980776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,0.014559,4153.413158,39,0.592509,0.532732,8.562396e-05,52.7500,1.053092,1.112685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,0.014150,4133.206139,59,0.508125,0.456645,1.282516e-04,51.5625,1.049161,0.968704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,0.014279,4113.028799,79,0.522490,0.446524,1.708793e-04,52.1875,1.052081,0.960670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,0.014924,4095.505110,99,0.486865,0.403611,2.135070e-04,54.1875,1.053009,0.894247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.015864,62.990344,3939,0.411363,0.274319,1.434288e-06,52.7500,1.049600,0.679753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
197,0.016877,42.000427,3959,0.374399,0.257097,6.480223e-07,51.1250,1.053243,0.634770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
198,0.015898,21.000483,3979,0.418204,0.301544,1.700155e-07,53.9375,1.050783,0.726925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
199,0.015889,0.000000,3999,0.397352,0.275087,3.855314e-10,49.5000,1.051147,0.683844,18.333292,55.481288,6.75936,18.632394,1.035545,NaN,0.738108,0
200,NaN,NaN,4000,NaN,NaN,NaN,NaN,NaN,NaN,18.333292,55.481288,6.75936,18.632394,1.035545,NaN,NaN,0

In [3]:
fold_1 = pd.read_json("fold_1_modified/results/metrics.json", orient="records", lines=True)
fold_1 = fold_1.sort_values("iteration")
fold_1['fold'] = 1
fold_1

,data_time,eta_seconds,iteration,loss_box_reg,loss_cls,lr,num_pos_anchors,time,total_loss,bbox/AP,bbox/AP50,bbox/AP75,bbox/APl,bbox/APm,bbox/APs,validation_loss,fold
0,0.013807,4449.798766,19,0.813538,1.207742,4.299629e-05,53.5625,1.118040,2.037409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,0.014547,4345.675219,39,0.587735,0.543702,8.562396e-05,49.9375,1.086716,1.112649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,0.013982,4353.174506,59,0.534055,0.469281,1.282516e-04,52.9375,1.123574,1.000116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,0.013779,4303.633709,79,0.531075,0.444137,1.708793e-04,54.0000,1.040528,0.989851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,0.014771,4281.676394,99,0.485516,0.370248,2.135070e-04,53.2500,1.106789,0.870990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.016336,63.497755,3939,0.396818,0.266248,1.434288e-06,53.3750,1.092116,0.674673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
197,0.016576,42.333728,3959,0.405956,0.301801,6.480223e-07,50.8750,1.061181,0.706801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
198,0.016601,21.170573,3979,0.388078,0.268781,1.700155e-07,54.0000,1.223850,0.658352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
199,0.016321,0.000000,3999,0.372240,0.248826,3.855314e-10,43.0000,1.231278,0.630134,17.882375,52.949825,6.48752,18.020955,4.843048,NaN,0.736365,1
200,NaN,NaN,4000,NaN,NaN,NaN,NaN,NaN,NaN,17.882375,52.949825,6.48752,18.020955,4.843048,NaN,NaN,1

In [4]:
fold_2 = pd.read_json("fold_2_modified/results/metrics.json", orient="records", lines=True)
fold_2 = fold_2.sort_values("iteration")
fold_2['fold'] = 2
fold_2

,data_time,eta_seconds,iteration,loss_box_reg,loss_cls,lr,num_pos_anchors,time,total_loss,bbox/AP,bbox/AP50,bbox/AP75,bbox/APl,bbox/APm,bbox/APs,validation_loss,fold
0,0.015064,5173.412566,19,0.812343,1.197537,4.299629e-05,54.8125,1.299852,1.984978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1,0.016312,5219.057145,39,0.604848,0.541806,8.562396e-05,55.1250,1.320287,1.141093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,0.017086,5157.838677,59,0.508384,0.460435,1.282516e-04,49.7500,1.307988,0.974207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,0.015784,5130.142794,79,0.520470,0.417798,1.708793e-04,55.0625,1.305825,0.939277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,0.016012,5109.525944,99,0.483764,0.403079,2.135070e-04,50.3750,1.318867,0.886798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.017097,63.027011,3939,0.422734,0.285071,1.434288e-06,53.6250,1.050027,0.693601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
197,0.016972,42.013867,3959,0.376522,0.236380,6.480223e-07,52.5000,1.049546,0.613007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
198,0.016693,21.005985,3979,0.386224,0.270580,1.700155e-07,48.1875,1.046866,0.676852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
199,0.016523,0.000000,3999,0.367302,0.262791,3.855314e-10,37.0000,1.047756,0.617864,16.849295,50.944053,5.905506,17.019285,1.170115,NaN,0.74526,2
200,NaN,NaN,4000,NaN,NaN,NaN,NaN,NaN,NaN,16.849295,50.944053,5.905506,17.019285,1.170115,NaN,NaN,2

In [5]:
fold_3 = pd.read_json("fold_3_modified/results/metrics.json", orient="records", lines=True)
fold_3 = fold_3.sort_values("iteration")
fold_3['fold'] = 3
fold_3

,data_time,eta_seconds,iteration,loss_box_reg,loss_cls,lr,num_pos_anchors,time,total_loss,bbox/AP,bbox/AP50,bbox/AP75,bbox/APl,bbox/APm,bbox/APs,validation_loss,fold
0,0.013933,4123.285986,19,0.871389,1.375949,4.299629e-05,53.2500,1.036002,2.262295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,0.013686,4114.585298,39,0.560917,0.570944,8.562396e-05,48.6875,1.040902,1.134942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,0.014587,4099.105027,59,0.550289,0.458068,1.282516e-04,50.5000,1.043266,1.024620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,0.013782,4083.076024,79,0.507620,0.425872,1.708793e-04,51.6875,1.043544,0.924740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,0.013865,4063.884369,99,0.520153,0.437980,2.135070e-04,54.6250,1.043446,0.953312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.017041,63.069879,3939,0.406768,0.262250,1.434288e-06,51.9375,1.052874,0.678689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
197,0.016939,42.051074,3959,0.382064,0.242505,6.480223e-07,54.9375,1.052525,0.619358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
198,0.016696,21.026150,3979,0.393316,0.279388,1.700155e-07,52.1875,1.053564,0.663036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
199,0.016491,0.000000,3999,0.385836,0.252470,3.855314e-10,34.0000,1.114461,0.636652,16.732614,51.518386,4.581058,16.949149,1.690397,NaN,0.749649,3
200,NaN,NaN,4000,NaN,NaN,NaN,NaN,NaN,NaN,16.732614,51.518386,4.581058,16.949149,1.690397,NaN,NaN,3

In [6]:
fold_4 = pd.read_json("fold_4_modified/results/metrics.json", orient="records", lines=True)
fold_4 = fold_4.sort_values("iteration")
fold_4['fold'] = 4
fold_4

,data_time,eta_seconds,iteration,loss_box_reg,loss_cls,lr,num_pos_anchors,time,total_loss,bbox/AP,bbox/AP50,bbox/AP75,bbox/APl,bbox/APm,bbox/APs,validation_loss,fold
0,0.014606,4174.050179,19,0.853284,1.121087,4.299629e-05,54.6250,1.048756,1.914154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1,0.014452,4144.114806,39,0.560851,0.536584,8.562396e-05,49.9375,1.046295,1.121900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,0.014200,4123.243301,59,0.525200,0.443576,1.282516e-04,53.0625,1.046711,0.969352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
3,0.014594,4104.706888,79,0.488021,0.418776,1.708793e-04,52.8125,1.049217,0.920690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,0.016449,4092.866667,99,0.537112,0.431197,2.135070e-04,51.1250,1.317484,0.993441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.017103,65.073516,3939,0.381422,0.279505,1.434288e-06,52.9375,1.055331,0.659902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
197,0.017175,43.382344,3959,0.359239,0.254374,6.480223e-07,52.1250,1.053421,0.613578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
198,0.016720,21.710234,3979,0.379031,0.283044,1.700155e-07,49.1250,1.053957,0.661870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
199,0.017037,0.000000,3999,0.391110,0.258975,3.855314e-10,33.0000,1.155932,0.645436,17.227039,52.044638,6.421908,17.529527,0.396138,NaN,0.742285,4
200,NaN,NaN,4000,NaN,NaN,NaN,NaN,NaN,NaN,17.227039,52.044638,6.421908,17.529527,0.396138,NaN,NaN,4

In [16]:
fold = pd.concat([fold_0, fold_1, fold_2, fold_3, fold_4], axis=1)

In [22]:
fold.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            191, 192, 193, 194, 195, 196, 197, 198, 199, 200],
           dtype='int64', length=201)

In [40]:
draw_df = pd.DataFrame(index=fold.index, columns=
                       [
                           'train_loss_min',
                           'train_loss_mean',
                           'train_loss_max',
                           
                           'validation_loss_min',
                           'validation_loss_mean',
                           'validation_loss_max',
                           
                           'validation_bbox/AP50_min',
                           'validation_bbox/AP50_mean',
                           'validation_bbox/AP50_max',
                           
                       ]
                      
                      )

In [41]:
draw_df

,train_loss_min,train_loss_mean,train_loss_max,validation_loss_min,validation_loss_mean,validation_loss_max,validation_bbox/AP50_min,validation_bbox/AP50_mean,validation_bbox/AP50_max
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
draw_df['train_loss_min'] = fold['total_loss'].min(axis=1)
draw_df['train_loss_mean'] = fold['total_loss'].mean(axis=1)
draw_df['train_loss_max'] = fold['total_loss'].max(axis=1)

draw_df['validation_loss_min'] = fold['validation_loss'].min(axis=1)
draw_df['validation_loss_mean'] = fold['validation_loss'].mean(axis=1)
draw_df['validation_loss_max'] = fold['validation_loss'].max(axis=1)

draw_df['validation_bbox/AP50_min'] = fold['bbox/AP50'].min(axis=1)
draw_df['validation_bbox/AP50_mean'] = fold['bbox/AP50'].mean(axis=1)
draw_df['validation_bbox/AP50_max'] = fold['bbox/AP50'].max(axis=1)

In [47]:
draw_df_train_loss = draw_df[~draw_df["train_loss_mean"].isna()][['train_loss_min', 'train_loss_mean','train_loss_max']]
draw_df_validation_loss = draw_df[~draw_df["validation_loss_mean"].isna()][['validation_loss_min','validation_loss_mean','validation_loss_max']]
draw_df_ap = draw_df[~draw_df["validation_bbox/AP50_mean"].isna()][['validation_bbox/AP50_min','validation_bbox/AP50_mean','validation_bbox/AP50_max']]

In [48]:
draw_df_train_loss

     train_loss_min  train_loss_mean  train_loss_max
0          1.914154         2.035923        2.262295
1          1.112649         1.124654        1.141093
2          0.968704         0.987400        1.024620
3          0.920690         0.947046        0.989851
4          0.870990         0.919758        0.993441
..              ...              ...             ...
195        0.635464         0.652560        0.676242
196        0.659902         0.677324        0.693601
197        0.613007         0.637503        0.706801
198        0.658352         0.677407        0.726925
199        0.617864         0.642786        0.683844

[200 rows x 3 columns]

In [49]:
draw_df_validation_loss

     validation_loss_min  validation_loss_mean  validation_loss_max
49              0.766823              0.788691             0.806221
99              0.754775              0.767334             0.777600
149             0.742595              0.746246             0.750320
199             0.736365              0.742333             0.749649

In [50]:
draw_df_ap

,validation_bbox/AP50_min,validation_bbox/AP50_mean,validation_bbox/AP50_max
49,43.177224,45.373690,47.571600
99,50.043143,51.482309,53.929709
149,50.336394,52.251663,55.591763
199,50.944053,52.587638,55.481288
200,50.944053,52.587638,55.481288